.avatar {
    width: 30px;
    height: 30px;
    background-color: #158b15;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 800;
}