<div class="row wrapper-login">
  <div class="col-md-6 p-0 image-wrapper">
    <img src="http://localhost:8000/techboox.jpg" class="img-fluid black-cube" alt="Techboox Image">
  </div>
  <div class="col-md-6 p-0">
    <form #loginForm="ngForm" (ngSubmit)="submitLogin()">
      <div class="mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="form.email" required>
      </div>
      <div class="alert alert-danger" [hidden]="!error.email">
        {{error.email}}
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="form.password" required>
      </div>
      <div class="alert alert-danger" [hidden]="!error.password">
        {{error.password}}
      </div>
      <button type="submit" class="btn btn-primary btn-login" [disabled]="!loginForm.valid">Login</button>
      <a class="btn btn-primary btn-login mt-3" routerLink="/signup">Create new account</a>
    </form>
  </div>
</div>
