.wrapper-signup form {
    min-width: 450px;
    position: absolute;
    top: 50%;
    padding: 10px;
    transform: translate(50%, -50%);
}
.wrapper-signup img{
    width: 100%;
}
.wrapper-signup .btn-signup{
    background-color: #000;
    border: none;
    font-weight: 700;
    width: 100%;
    opacity: 1;
}
.wrapper-signup input{
    font-weight: 700;
    height: 50px;
    border: 2px solid #000;
    margin: 25px 0;
}